<div id="home-greetings-root">
  <h1 id="home-greetings-text">
    <div id="name-greeting">Hi, I'm</div>
    <div id="name">Marek Ochocki</div>
    <hr class="short-text-separator">
    <div id="description-greeting">A <span>Professional Web Engineer</span> with over 3 years of commercial experience that turns <span>ideas</span> into <span>reality</span>.</div>
  </h1>
  <span id="greetings-right-side">
    <div id="home-greetings-image">
      <mat-icon class="home-greetings-icon">bubble_chart</mat-icon>
      <mat-icon class="home-greetings-icon-forward">forward</mat-icon>
      <mat-icon class="home-greetings-icon">assignment_turned_in</mat-icon>
    </div>
    <div id="projects-button-container">
      <a href="./assets/Resume Marek Ochocki no_phone.pdf" download="Resume Marek Ochocki.pdf" target="_blank">
        <button id="cv-download-button">
          <mat-icon id="download-cv-icon">download</mat-icon>
          CV
        </button>
      </a>
    </div>
  </span>
</div>