
#subsection-title {
  font-size: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  font-weight: 500;
  margin: 0;
  border-radius: 20px 20px 0 0;
  color: #ffea76;
}

hr {
  background: #ffea76;
  border: none;
  width: 200px;
  height: 1px;
  border-radius: 1px;
  margin: 10px 0 10px 5px;
}