@use "../../../styles/colors.scss" as colors;

#home-content-container {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

#top-container {
  grid-row: 1 / 2;
  grid-template-columns: 1fr 1400px 1fr;
  display: grid;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

#bottom-container {
  grid-row: 2 / 3;
  grid-template-columns: 1fr 1200px 1fr;
  background-color: colors.$light-gray;
  display: grid;
}

#home-greetings {
  grid-column: 2 / 3;
}

#about-details {
  grid-column: 2 / 3;
}