<div id="home-details-root">
  <h1 id="details-left">
    <div id="about-me-text">About Me</div>
    <div id="description-text">
      I'm a software engineer from Poland with a passion for tackling tech challenges head-on. My professional journey has been all about crafting web experiences with Angular, but I'm not one to shy away from any tech or task. Let's connect and talk about the next exciting project!
    </div>
    <div id="buttons-container">
      <button class="navigation-button" (click)="goToProjects()">
        Projects
      </button>
      <button class="navigation-button" (click)="goToContact()">
        Contact
      </button>
    </div>
  </h1>
  <span id="details-right">
    <img src="./assets/christopher-gower-unsplash.jpg">
  </span>
</div>