@use "../../../styles/colors.scss" as colors;

#navigation-bar {
  background-color: colors.$black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  display: grid;
  grid-template-columns: 1fr 900px 1fr;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

#navigation-bar-elements-list {
  display: flex;
  grid-column: 2 / 3;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
  padding: 0;
}

.navigation-bar-element {
  &:hover {
    background-color: colors.$hover-black;
  }
  display: inline-flex;
  width: calc(100% / 4);
  
  border-right: 1px solid colors.$white-text-color;

  &:last-child {
    border-right: none;
  }
}

.navigation-link {
  color: colors.$white-text-color;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0;
  margin: 10px 30px;
  padding-bottom: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #00000000;

  &.navigation-link-selected {
    border-bottom-color: colors.$highlight-text-color;
  }
}

.navigation-icon {
  color: colors.$white-text-color;
  padding-right: 10px;
}

#space-left {
  grid-column: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#logo-container {
  color: colors.$black;
  font-size: 40px;
  font-weight: 500;
  padding: 5px;
  margin-right: 80px;
  background-color: colors.$highlight-text-color;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

#space-right {
  grid-column: 3 / 4;
}