<div id="navigation-bar">
  <div id="space-left">
    <button id="logo-container" (click)="goToHome()"><b>MO</b></button>
  </div>
  <ul id="navigation-bar-elements-list">
    <li class="navigation-bar-element" *ngFor="let element of elements">
      <a class="navigation-link" [routerLink]="element.routerLink">
        <span [ngClass]="{'navigation-link-selected': isSelected(element)}">
          <mat-icon class="navigation-icon">{{element.iconName}}</mat-icon>
          {{element.displayText}}
        </span>
      </a>
    </li>
  </ul>
  <div id="space-right"></div>
</div>