@use "../../../../../styles/colors.scss" as colors;

.image-element-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.video-element-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.custom-element-container {
  margin-top: 40px;
  margin-bottom: 40px;
}

.image-element {
  max-width: calc(100% - 80px);
  box-shadow: 0 0 15px black;
}

.video-element {
  max-width: calc(100% - 80px);
  box-shadow: 0 0 15px black;
}

.text-element {
  font-size: 18px;
  color: colors.$white-text-color;
}