
<div *ngIf="paragraph" class="paragraph-container">
  <p *ngIf="paragraph.type === 'text'" class="text-element" [innerHTML]="paragraph.text"></p>
  <div class="video-element-container" *ngIf="paragraph.type === 'video'">
    <video autoplay muted loop playsinline [muted]="'muted'" class="video-element">
      <source [src]="paragraph.videoUrl" type="video/mp4">
      Mp4 playback not supported on your device.
    </video>
  </div>
  <div class="image-element-container" *ngIf="paragraph.type === 'image'">
    <img [src]="paragraph.imageSrc" class="image-element"> 
  </div>
  <div class="custom-element-container" *ngIf="paragraph.type === 'component'">
    <ng-template appCustomParagraph></ng-template>
  </div>
</div>
