
$white-text-color: #e3e6ec;
$light-text-color: #adadad;
$highlight-text-color: #ffea76;

$light-gray: rgb(52, 52, 56);
$gray: rgb(46 46 50);
$dark-gray: rgb(41 41 45);
$black: #0c0b0e;
$hover-black: #202025;
