
#projects-content-container {
  display: grid;
  grid-template-columns: 300px 1fr 900px 1fr;
  height: calc(100% - 40px);
}

#projects-details-container {
  margin-top: 40px;
  margin-bottom: 40px;
  grid-column: 3 / 4;
}

#projects-details {
  background-color: rgb(63 63 69);
  border-radius: 20px 20px 20px 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  height: 100%;
}

#projects-details-content {
  padding: 20px 40px;
}